{% extends 'base.jinja2' %}

{% block subtitle %}Donors details:{% endblock subtitle %}

{% block content %}
 <ul>
    {% for donation_details in tasks %}
    <li>
        {{ donation_details.donor_name}}: {{ donation_details.donation_amount }}
    </li>
    {% endfor %}
</ul>
{% endblock content %}